BasedOnStyle: Google
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
BreakBeforeTernaryOperators: false
ColumnLimit: 120
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
AllowShortFunctionsOnASingleLineInline: false
Cpp11BracedListStyle: false